In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import datetime
import itertools

import warnings
warnings.filterwarnings("ignore")

from pylab import rcParams
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from matplotlib import pyplot
from pandas.plotting import lag_plot
from statsmodels.tsa.stattools import kpss
from statsmodels.tsa.ar_model import AutoRegResults
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.arima_model import ARIMAResults
from sklearn.metrics import r2_score, mean_squared_error
from statsmodels.tsa.ar_model import AutoRegResults
from sklearn.model_selection import train_test_split

In [2]:
country = pd.read_csv("country.csv")
country

,AT,BE,BG,CH,CY,CZ,DE,DK,EE,ES,...,LV,NL,NO,PL,PT,RO,SI,SK,SE,UK
0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262963,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262964,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262965,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262966,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262967,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
country_dict = {
'AT': 'Austria',
'BE': 'Belgium',
'BG': 'Bulgaria',
'CH': 'Switzerland',
'CY': 'Cyprus',
'CZ': 'Czech Republic',
'DE': 'Germany',
'DK': 'Denmark',
'EE': 'Estonia',
'ES': 'Spain',
'FI': 'Finland',
'FR': 'France',
'EL': 'Greece',
'UK': 'United Kingdom',
'HU': 'Hungary',
'HR': 'Croatia',
'IE': 'Ireland',
'IT': 'Italy',
'LT': 'Lithuania',
'LU': 'Luxembourg',
'LV': 'Latvia',
'NO': 'Norway',
'NL': 'Netherlands',
'PL': 'Poland',
'PT': 'Portugal',
'RO': 'Romania',
'SE': 'Sweden',
'SI': 'Slovenia',
'SK': 'Slovakia'
    }

In [4]:
data=country.rename(columns=country_dict)

In [5]:
data

,Austria,Belgium,Bulgaria,Switzerland,Cyprus,Czech Republic,Germany,Denmark,Estonia,Spain,...,Latvia,Netherlands,Norway,Poland,Portugal,Romania,Slovenia,Slovakia,Sweden,United Kingdom
0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262963,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262964,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262965,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262966,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262967,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
def add_date_time(_df):
    "Returns a DF with two new cols : the time and hour of the day"
    t = pd.date_range(start='1/1/1986', periods=_df.shape[0], freq = 'H')
    t = pd.DataFrame(t)
    _df = pd.concat([_df, t], axis=1)
    _df.rename(columns={ _df.columns[-1]: "time" }, inplace = True)
    return _df

In [7]:
data=add_date_time(data)

In [8]:
data

,Austria,Belgium,Bulgaria,Switzerland,Cyprus,Czech Republic,Germany,Denmark,Estonia,Spain,...,Netherlands,Norway,Poland,Portugal,Romania,Slovenia,Slovakia,Sweden,United Kingdom,time
0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1986-01-01 00:00:00
1,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1986-01-01 01:00:00
2,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1986-01-01 02:00:00
3,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1986-01-01 03:00:00
4,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1986-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262963,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31 19:00:00
262964,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31 20:00:00
262965,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31 21:00:00
262966,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31 22:00:00
262967,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31 23:00:00

In [9]:
df_time=data.sort_values('time')

In [10]:
train_size = int(len(df_time) * 0.80)
train_size

210374

In [11]:
train, test = df_time[0:train_size], df_time[train_size:len(data)]

In [12]:
train = train.set_index('time')

In [13]:
train

,Austria,Belgium,Bulgaria,Switzerland,Cyprus,Czech Republic,Germany,Denmark,Estonia,Spain,...,Latvia,Netherlands,Norway,Poland,Portugal,Romania,Slovenia,Slovakia,Sweden,United Kingdom
time,,,,,,,,,,,,,,,,,,,,,
1986-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1986-01-01 01:00:00,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1986-01-01 02:00:00,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1986-01-01 03:00:00,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1986-01-01 04:00:00,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-12-31 09:00:00,0.183217,0.038273,0.287538,0.084564,0,0.119013,0.039190,0.096481,0.057283,0.181758,...,0.039953,0.054600,0.021121,0.072809,0.213471,0.309453,0.114371,0.129242,0.040169,0.048046
2009-12-31 10:00:00,0.261538,0.039759,0.336953,0.104627,0,0.148542,0.046622,0.145168,0.080411,0.244238,...,0.033087,0.051086,0.021665,0.073002,0.274813,0.317902,0.057106,0.178461,0.051828,0.095003
2009-12-31 11:00:00,0.244755,0.035341,0.423332,0.110929,0,0.133527,0.049290,0.180863,0.067664,0.282728,...,0.031448,0.041211,0.022311,0.064472,0.323887,0.266325,0.043297,0.223284,0.062291,0.123858
2009-12-31 12:00:00,0.208392,0.036361,0.368624,0.106322,0,0.151427,0.046684,0.167461,0.046688,0.287802,...,0.022794,0.039129,0.021317,0.054221,0.380321,0.250573,0.071326,0.182234,0.052625,0.118355
2009-12-31 13:00:00,0.166434,0.029564,0.284268,0.114723,0,0.110305,0.038504,0.124348,0.023077,0.284570,...,0.022229,0.034651,0.022169,0.042027,0.419580,0.146784,0.041647,0.113443,0.039091,0.110697

Effiency prediction date and location method 01

In [14]:
def time_series_by_Location(location):
    y = train[location].resample('M').mean()
    p = d = q = range(0, 2)
    pdq = list(itertools.product(p, d, q))
    seasonal_pdq = [(x[0], x[1], x[2], 12) for x in list(itertools.product(p, d, q))]
    aic=[]
    l_param=[]
    l_param_seasonal=[]
    temp=0
    lowest=10000000000000000000


    for param in pdq:
        for param_seasonal in seasonal_pdq:
            try:
                mod = sm.tsa.statespace.SARIMAX(y,order=param,seasonal_order=param_seasonal,enforce_stationarity=False,enforce_invertibility=False)
                results = mod.fit()
#                 print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))
                aic.append(results.aic)
                temp=results.aic
                if(temp<lowest):
                    lowest=temp
                    l_param=param
                    l_param_seasonal=param_seasonal
            
            except:
                continue
    
    mod = sm.tsa.statespace.SARIMAX(y,order=l_param,seasonal_order=l_param_seasonal,enforce_stationarity=False,enforce_invertibility=False)
    model_fit= mod.fit()
    print(model_fit.summary())
    model_fit.save(location +'.pkl')

In [16]:
from os.path import exists 
def get_time_series_Prediction(location,Start_date,End_date,location_exists):
    model_file_name =location+".pkl"
    location_list=set(data.columns.tolist())
    
    if(location in location_list):
        location_exists=True
        
    if(exists(model_file_name)):
        model_loaded = ARIMAResults.load(model_file_name)
        return model_loaded.predict(Start_date,End_date)
    else:
        if(location_exists==True):
            time_series_by_Location(location)
            model_loaded = ARIMAResults.load(model_file_name)
            return model_loaded.predict(Start_date,End_date)
        else:
            model_loaded = ARIMAResults.load('TS_model_for_Efficency_Year_month.pkl')
            return model_loaded.predict(Start_date,End_date)

In [17]:
def get_yearly_avg_solar_effiency(location,start_date,end_date,location_exists):
    output={}
    result=pd.DataFrame()
    year=pd.DataFrame()
    Average_Effiency=pd.DataFrame()
    pred_data = get_time_series_Prediction(location,start_date,end_date,location_exists)
    df = pred_data.to_frame().reset_index()
    df=df.set_index('index')
    avg_eff= df['predicted_mean'].resample('Y').mean()*100
    avg_eff=avg_eff.to_frame().reset_index()
    result['Year']=avg_eff['index'].dt.year
    result['Average Effiecy']=avg_eff['predicted_mean']
    return result

In [18]:
get_yearly_avg_solar_effiency('Bulgaria','2010-01-01','2026-12-31',False)

                                      SARIMAX Results
============================================================================================
Dep. Variable:                             Bulgaria   No. Observations:                  288
Model:             SARIMAX(1, 0, 0)x(1, 0, [1], 12)   Log Likelihood                 715.414
Date:                              Sun, 03 Jul 2022   AIC                          -1422.829
Time:                                      10:47:52   BIC                          -1408.362
Sample:                                  01-31-1986   HQIC                         -1417.023
                                       - 12-31-2009
Covariance Type:                                opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          0.1205      0.059      2.048      0.041       0.005       0.236
ar.S.L12       0.9994      0.001    846.790      0.000       0.997       1.002
ma.S.L12      -1.0288      0.153     -6.740      0.000      -1.328      -0.730
sigma2         0.0003   5.44e-05      4.986      0.000       0.000       0.000
===================================================================================
Ljung-Box (L1) (Q):                   0.01   Jarque-Bera (JB):                 0.09
Prob(Q):                              0.94   Prob(JB):                         0.96
Heteroskedasticity (H):               0.89   Skew:                             0.01
Prob(H) (two-sided):                  0.57   Kurtosis:                         2.91
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

    Year  Average Effiecy
0   2010        14.195777
1   2011        14.211769
2   2012        14.202641
3   2013        14.193520
4   2014        14.184405
5   2015        14.175295
6   2016        14.166191
7   2017        14.157093
8   2018        14.148001
9   2019        14.138915
10  2020        14.129834
11  2021        14.120760
12  2022        14.111691
13  2023        14.102628
14  2024        14.093571
15  2025        14.084519
16  2026        14.075474

In [20]:
get_yearly_avg_solar_effiency('India','2010-01-01','2026-12-31',False)

    Year  Average Effiecy
0   2010        12.944667
1   2011        12.966636
2   2012        12.980554
3   2013        12.994487
4   2014        13.008436
5   2015        13.022399
6   2016        13.036377
7   2017        13.050370
8   2018        13.064379
9   2019        13.078402
10  2020        13.092440
11  2021        13.106494
12  2022        13.120562
13  2023        13.134646
14  2024        13.148745
15  2025        13.162859
16  2026        13.176988